.about-team{
    background-image: url(./images/Services.png);
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    color: #1D2549;
    font-family: 'Poppins', sans-serif;
}
.about-team-secondary{
    transform: translateY(-5em);
}

.camera{
    width: 5em;
    transform: translate(33em, 15em);
    pointer-events: none;
}
.trophy{
    width: 7em;
    transform:translate(70em, 7em) rotate(-30deg);
    pointer-events: none;
}
.rocket{
    width: 7em;
    transform:translate(-2em, 50em);
    pointer-events: none;
}

.about-team-info, .about-team-card{
    float: left;
}
.inf{
    width:40%;
}
.ca{
    width:60%;
}

.about-team-info{
    text-align: center;
    padding: 0em 2.5em;
}


.about-team-card{
    padding-top: 0em;
}

 @media screen and (max-width: 88em){
    .about-team-sudip, .about-team-anupam{
        margin: 0em 1em;
    }
   
}

@media screen and (max-width: 75em){
    .about-team{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-team-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       width: 100%;
       padding-top: 5em;
    }

    }

/* MOBILE VIEW */

@media only screen and (min-width: 0px) and (max-width: 980px){
    .about-team-secondary{
        transform: translateY(-5em);
    }
    .camera{
        width: 5em;
        transform: translate(-10em, 15em);
        pointer-events: none;
    }
    .trophy{
        width: 5em;
        transform:translate(7em, 7em) rotate(-30deg);
        pointer-events: none;
    }
    .about-team-info{
        text-align: center;
        padding: 0em 0em;
        width: 85%;
        transform: translateY(-14em);
    }

}