.home-primary{
    background-image: url(./images/Services.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}
.home-pri{
    display: flex;
    flex-direction: row;

}
.home-quote{
    text-align: center;
    font-size: 45px;
    padding-top: 8em;
    padding-left: 4em;
    word-spacing: 5px;
    line-height: 1.15em;
}
.quote{
    width: 540px;
}
.home-icons{
    width: 5px;
    height: auto;
    position: absolute;
    bottom: 17.6em;
    left: 1.5em;
    size: 4em;
}
a{
    color: rgba(0, 0, 0, 0.767);
}
.fb{
    padding-bottom: 30px;    
}
.twitter{
    padding-bottom: 30px;
}
.linkedIn{
    padding-bottom: 30px;
}
.fb:hover{
    color: rgba(0, 81, 168, 0.81);
}
.twitter:hover{
    color: rgba(0, 163, 208, 0.79);
}
.linkedIn:hover{
    color: rgba(0, 133, 163, 0.899);
}
.gitHub:hover{
    color: rgba(59, 59, 59, 0.81);
}

.gradient{
    position: relative;
    left: 10em;
    top: 15em;
    width: 400px;
    opacity: 0.5;
}
.astronaut{
    position: relative;
    left: 11.5em;
    bottom: 6em;
    width: 350px;
}
.scrollicon{
    position: relative;
    bottom: 0em;
    left: 6em;
    color: rgb(8, 39, 133);
}
.scrollText{
    position: relative;
    bottom: 1.5em;
    font-size: 21px;
    font-weight: bold;
    padding-left: 11em;
    color: rgb(0, 0, 0);
}



